<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "プライバシーポリシー",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "ヘルプ・お問い合わせ", '#' %></li>
    </ul>
  </nav>
  
  <small>
Copyright (c) Dengenmap.,inc  All Rights Reserved.
  </small>
  
</footer>
